.App-body {
  text-align: center;
  font-family: Segoe UI,SegoeUI,"Helvetica Neue",sans-serif !important;
  width: 30vw;
  min-height: 80vh;
  border: 1px solid lightgrey;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #ddd;
  color: #161f3f;
  opacity: 0;
  animation: fade-down 1s ease forwards;
}

div h1{
  transition: color 0.5s;
}

div#game-container h4{
  margin: auto !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#player {
  height: 100px;
  margin-top: 20px;
}

.inline-display {
  display: inline;
}

.fists-container{
  margin: 20px auto;
}

.fists-container i {
  font-size: 86px; 
}

#opposition {
  height: 100px;
  transform: rotateY(180deg);
  margin-top: 20px;
}

.reset{
  background-color: rgb(101, 109, 184);
  color: #fff;
  border: 0;
  box-shadow: 1px 1px 3px #ccc;
}

.button{
  border: 0;
  border-radius: 100px;
  min-width: 100px;
  padding: 5px 20px;
  font-size: 15px;
  color: #fff;
  transition: filter 0.5s;
}

.player-animation{
  animation: player 0.5s 3;
}

.opposition-animation{
  animation: opposition 0.5s 3;
}


.button:focus{
  outline: none;
}

.button:hover{
  cursor: pointer;
  filter: brightness(90%);
}

#game-container{
  display: flex;
}

@keyframes opposition {
  0%{transform: rotateY(180deg) rotate(0deg);}
  50%{transform: rotateY(180deg) rotate(90deg);}
  100%{transform: rotateY(180deg) rotate(0deg);}
}


@keyframes player {
  0%{transform: rotate(0deg);}
  50%{transform: rotate(90deg);}
  100%{transform: rotate(0deg);}
}

@keyframes fade-down {
  from {opacity: 0; transform: translateY(-100px);}
  to {opacity: 1; transform: translateY(0px);}
}
